version: '3.8'

services:
  # PHP-FPM Service
  php:
    build: .
    env_file: ".env.prod"
    container_name: symfony_php
    volumes:
      - .:/var/www/html
    networks:
      - symfony_network
    depends_on:
      - database

    # Nginx Service
  nginx:
    image: nginx:alpine
    container_name: symfony_nginx
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - symfony_network
    depends_on:
      - php

    # MySQL Database Service
  database:
    image: mysql:8.0
    container_name: symfony_mysql
    env_file: ".env.prod"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - symfony_network

    # phpMyAdmin Service (optional)
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: symfony_phpmyadmin
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "6768:6768"
    networks:
      - symfony_network
    depends_on:
      - database

networks:
  symfony_network:
    driver: bridge

volumes:
  mysql_data:
