<form method="post" class="btn p-0" action="{{ path('app_item_delete', {'id': item.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>