{% extends 'base.html.twig' %}

{% block title %}Edit ShoppingList{% endblock %}

{% block body %}
    <h1 class="mb-3 mt-2">Edit Shopping List</h1>

    {{ include('shopping_list/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
